/* colors: #09B387 #C2FFEF #5CFFD3 #C29A8D #FF7247 #078261 */
/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  margin: 0 auto;
  font: normal 18px/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  background: #C2FFEF;
  color: #5CFFD3;
  flex-flow: row wrap;
}

/* || typography */

/* h1, h2, h3 {
font-family: 'Medula One', cursive;
  color: black;
} */

.jobtitle {
  font-family: 'Medula One', cursive;
  color: black;
  font-size: large;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

.jobdesc {
  font-size: large;
  font-weight: 600;
}

.resp {
  font-size: medium;
  font-style: normal;
}

/* p, input, li {
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  background: #C2FFEF;
} */

/* h1 {
  font-size: 4rem;
  text-align: center;
  font-weight: 100;
  color: #C2FFEF;
}

h2 {
  font-size: 5rem;
  text-align: center;
  font-weight: 800;
}

h3 {
  font-size: 2.2rem;
} */

/* img {
  background: #C2FFEF;
} */
/* p, li {
  font-size: 1.6rem;
  line-height: 1.5;
} */

/* || header layout */
.header {
  width: 100%;
  background-color: #078261;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  padding: 15px;
  align-items: center;
  justify-content: space-around;
}

.heading {
  display: flex;
  color: #C2FFEF;
  text-transform: uppercase;
  justify-content: center;
  font-size: 40px;
  text-align: center;
  flex: 5;
  text-transform: uppercase;
}

/* body > * {
  padding: 1%;
} */

/* h1 {
  font-size: 40px;
  text-align: center;
  flex: 5;
  text-transform: uppercase;
} */

.header img {
  display: flex;
  height: 60px;
}

/* || main layout */

.wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 1.6rem; /*extra*/
  line-height: 1.5;  /*extra*/
  padding: 1%;       /*extra*/
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.container * {
  box-sizing: border-box;
}

.profile-image {
  flex: 0 1 auto;
  width: 200px;
  margin-right: auto;
  border: solid 1px whitesmoke;
  border-radius: 4px;
}

.caption{
  font-style: italic;
  font-size: small;
  padding: 15px;
  align-items: center;
  background-color: #C29A8D;
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
}

.one, .two{
  align-items: space-around;
  border-radius: 4px;
  padding: 5px;
  margin-right: 15px;
}

.one {
  width: 26%;
}

.two {
  width: 54%;
  background-color: #C29A8D;
  font-family: 'Medula One', cursive;
  color: black;
}

@media screen and (max-width:1000px) {
  .container {
    justify-content: center;
  }

  .one {
    flex: 1 0 auto;
    margin-right: 0px;
    justify-content: center;
  }

  .two {                      /*Is this class here necessary? */
    flex: 1 0 auto;
    margin-right: 0px;
    justify-content: center;
  }                           
}