<<<<<<< HEAD
=======
/* colors: #09B387 #C2FFEF #5CFFD3 #C29A8D #FF7247 #078261 */
>>>>>>> 10762afde496b839f4792072924cec604ee43d76
/* || General setup */
html {
  font-size: 10px;
  background-color: #3b07f7;
  color: #e7f707;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #1f08f3;
}

/* || typography */

.jobtitle{
  font-size: large;
  font-family: cursive;
}

.jobdesc{
  font-size: large;
  font-weight: 600;


}

.jobdone{
  font-style: normal;
  font-size: medium;
}

.content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 960px;
  justify-content: space-between;
  align-items: flex-start;
}
.wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.job-req{
  align-content: space-around;
  border-radius: 4px;
  padding: 5px;
}

.profile-image img{
  width: inherit;
  border: solid 1px whitesmoke;
  border-radius: 4px;
}

.caption{
  flex: 0 1 auto;
  font-style: italic;
  color: black;
  background-color: white;
  padding: 15px;
  align-content: center;
}

/* || header layout */
.header{
  background-color: #1404f3;
  margin-bottom: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-transform: uppercase;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
}

<<<<<<< HEAD
.header h1{
  font-size: 40px;
  text-align: center;
=======
.header {
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
>>>>>>> 10762afde496b839f4792072924cec604ee43d76

}

<<<<<<< HEAD
.profile-image{
  flex: 0 1 auto;
  width: 175px;
  margin-right: auto;
=======
.main, .header, nav, .article, .aside, .footer, section {
  background-color: #078261;
  padding: 1%;
}
>>>>>>> 10762afde496b839f4792072924cec604ee43d76

}

.profile-image p {
  flex: 0 1 auto;
}



/* || main layout */


.profile{
  width: 200px;
  flex-wrap: wrap;
}

.job-req{
  background-color: white;
  flex: 0 2 auto;
}
 
.profile-image p{
  background-color: white;
  margin: 10px;
  font-style: italic;
  font-size: medium;
  text-align: center;
}

.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 960px;
  justify-content: space-between;
  align-items: flex-start;
}

.logo{
  width: 100px;
  padding: 15px;
}

@media screen and (max-width:1000px) {
  .content{
      justify-content: center;
  }
  .profile-image{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 1 0 auto;
      align-items: center;
      justify-content: space-evenly;
  }
}